body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #191919;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #191919;
  }

  body {
    @apply bg-genom-bg-gray dark:bg-neutral-950 dark:text-neutral-50;
  }

  input:checked + div {
    @apply border-blue-500;
  }

  input:checked + div svg {
    @apply block;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .react-select .react-select__control {
    @apply border-primary min-h-table-row-1 border-2 dark:bg-neutral-900 dark:text-neutral-50;
  }

  .react-select .react-select__single-value {
    @apply dark:text-neutral-50;
  }

  .react-select .react-select__placeholder {
    @apply dark:text-gray-600;
  }

  .react-select .react-select__input-container {
    @apply dark:text-neutral-50;
  }

  .react-select .react-select__control--is-focused {
    @apply border-blue-500;
  }

  .react-select .react-select__indicator-separator {
    @apply hidden;
  }

  .react-select .react-select__value-container {
    @apply pl-4;
  }

  .react-select .react-select__indicator {
    @apply pr-3;
  }

  .react-select .react-select__multi-value__remove:hover {
    @apply bg-transparent;
  }

  .react-select .react-select__menu {
    @apply dark:bg-neutral-900 dark:text-neutral-50;
  }

  .react-select .react-select__option:hover {
    @apply dark:bg-gray-800;
  }

  .react-select .react-select__option:active,
  .react-select .react-select__option:focus {
    @apply dark:bg-gray-700;
  }

  .react-select .react-select__option--is-focused {
    @apply dark:bg-gray-700;
  }

  .react-select .react-select__multi-value {
    @apply dark:bg-gray-800;
  }

  .react-select .react-select__multi-value__label {
    @apply dark:text-neutral-50;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .rich-scrollbar {
    /* -ms-overflow-style: none; */
    scrollbar-width: 1px;
  }

  .border-primary {
    @apply border-genom-light-gray dark:border-neutral-600;
  }

  .divide-primary {
    @apply divide-genom-light-gray dark:divide-neutral-600;
  }

  .text-blue-primary {
    @apply text-genom-blue dark:text-blue-700;
  }

  .bg-blue-primary {
    @apply bg-genom-blue dark:bg-blue-700;
  }

  .border-blue-primary {
    @apply border-genom-blue dark:border-blue-700;
  }
}

.CodeMirror-hints {
  z-index: 999999;
}

.react-filter-box {
  height: 38px;
}


.mapboxgl-control-container {
  display: none;
}